#commonDialog {
  --in-content-primary-button-background: var(--mf-primary-color) !important;
  --in-content-primary-button-text-color: var(--mf-primary-text-color) !important;
  --in-content-primary-button-background-hover: var(--mf-primary-color-lighter) !important;
  --in-content-primary-button-text-color-hover: var(--mf-primary-text-color) !important;
  --in-content-primary-button-background-active: var(--mf-primary-color-very-light) !important;
  --in-content-primary-button-text-color-active: var(--mf-primary-text-color) !important;
}
