@import 'functions.scss';

:host,
:root {
  --mf-primary-color: hsl(219, 72%, 53%);
  // hover
  --mf-primary-color-lighter: hsl(219, 75%, 60%);
  // active
  --mf-primary-color-very-light: hsl(219, 80%, 65%);
  --mf-primary-text-color: white;

  --error-color: hsl(3, 100%, 62%);
  --error-text-color: var(--error-color) !important;

  --in-content-focus-outline-color: var(--mf-primary-color) !important;

  --in-content-primary-button-background: var(--mf-primary-color) !important;
  --in-content-primary-button-text-color: var(--mf-primary-text-color) !important;

  --in-content-primary-button-background-hover: var(--mf-primary-color-lighter) !important;
  --in-content-primary-button-text-color-hover: var(--mf-primary-text-color) !important;

  --in-content-primary-button-background-active: var(--mf-primary-color-very-light) !important;
  --in-content-primary-button-text-color-active: var(--mf-primary-text-color) !important;

  --lwt-brighttext-url-color: var(--mf-primary-color) !important;
  --toolbarbutton-icon-fill-attention: var(--mf-primary-color) !important;

  --ease-in: cubic-bezier(0.4, 0, 1, 1);
  --ease-out: cubic-bezier(0, 0, 0.2, 1);
  --ease-basic: linear;

  --button-size: 32px; /* is this used? */
  --icon-size: 24px; /* is this used? */

  --downloads-item-height: 48px !important;

  --item-height: 28px;
  --popup-border-radius: 8px;
  --icon-button-radius: 50%;

  --toolbar-non-lwt-bgcolor: var(--toolbar-bgcolor) !important;
  --toolbar-non-lwt-textcolor: var(--toolbar-color) !important;

  --toolbar-field-fontsize: 14px !important;

  --mf-space-above-tabbar: 8px;

  // tab background shadow is set by FF
  --mf-tab-shadow-size: 4px;
  --mf-tab-margin-top: var(--mf-tab-shadow-size);
  --mf-tab-height: 32px !important;
  --mf-tab-height-full: calc(var(--mf-tab-height) + var(--mf-tab-margin-top));
  // --tab-min-height is used by FF
  --tab-min-height: var(--mf-tab-height);

  --tab-separator-opacity: 0.35 !important;
  // mf tabs only have top margin unlike default FF tabs
  --tab-block-margin: calc(var(--mf-tab-margin-top) / 2) !important;
  --mf-tab-top-radius: 8px;
  --mf-tab-bottom-radius: var(--mf-tab-top-radius);
  // connect tab-group-lines of adjacent tabs
  --tab-overflow-clip-margin: 4px !important;

  --toolbar-field-background-color: hsl(200, 12%, 95%) !important;
  --toolbar-field-hover-background-color: hsl(216, 12%, 92%) !important;
  --toolbar-field-focus-background-color: hsl(0, 0%, 100%) !important;

  --arrowpanel-menuitem-margin: 0 !important;
  --arrowpanel-menuitem-margin-inline: 0 !important;
  --arrowpanel-menuitem-padding-block: 6px !important;
  --arrowpanel-menuitem-padding-inline: 10px !important;
  --arrowpanel-menuitem-padding: var(--arrowpanel-menuitem-padding-block)
    var(--arrowpanel-menuitem-padding-inline) !important;
  --arrowpanel-menuitem-border-radius: 0px !important;

  accent-color: var(--mf-primary-color) !important;

  --lwt-accent-color: light-dark(#dee1e6, #202124) !important;
  --lwt-text-color: light-dark(#606368, #9ba0a5) !important;

  --toolbar-bgcolor: light-dark(#fff, hsl(0, 0%, 20%)) !important;
  --toolbar-color: light-dark(#606368, #fff) !important;

  --toolbox-border-bottom-color: light-dark(#b3b1b3, #282828) !important; /* legacy */
  --chrome-content-separator-color: light-dark(#b3b1b3, #282828) !important;

  --lwt-toolbarbutton-icon-fill: light-dark(#606368, #fff) !important;
  --lwt-toolbarbutton-icon-fill-attention: light-dark(#5086ec, var(--mf-primary-color)) !important;

  /* button_background_hover */
  --lwt-toolbarbutton-hover-background: light-dark(rgba(0, 0, 0, 0.07), #434649) !important;
  /* button_background_active */
  --lwt-toolbarbutton-active-background: light-dark(rgba(0, 0, 0, 0.11), #4e5153) !important;

  --lwt-toolbar-field-color: light-dark(#202124, #fff) !important;

  --autocomplete-popup-highlight-background: light-dark(#f2f2f2, #4c4f52) !important;
  --autocomplete-popup-highlight-color: light-dark(#202124, #fff) !important;

  &[privatebrowsingmode='temporary'] {
    --toolbar-field-background-color: #202124 !important;
    --toolbar-field-hover-background-color: #292a2d !important;
    --toolbar-field-focus-background-color: #202124 !important;

    & :is(#urlbar, #searchbar) {
      --toolbarbutton-hover-background: hsl(206, 5%, 26%) !important;
      --toolbarbutton-active-background: hsl(210, 4%, 31%) !important;
    }
  }

  &:not(:-moz-lwtheme):not([privatebrowsingmode='temporary']) {
    --toolbar-bgcolor: hsl(0, 0%, 100%) !important;
    --toolbar-color: hsl(213, 5%, 39%) !important;
    --toolbox-border-bottom-color: hsl(0, 0%, 70%) !important;
  }

  &[sizemode='maximized'] {
    --mf-tab-margin-top: 0;
  }

  ::selection {
    background-color: var(--mf-primary-color);
    color: var(--mf-primary-text-color);
  }

  & :is(#urlbar, #searchbar) {
    --toolbarbutton-hover-background: light-dark(hsl(210, 5%, 85%), hsl(206, 5%, 26%)) !important;
    --toolbarbutton-active-background: light-dark(hsl(210, 4%, 80%), hsl(210, 4%, 31%)) !important;
  }

  @media (prefers-color-scheme: dark) {
    --toolbar-field-background-color: #202124 !important;
    --toolbar-field-hover-background-color: #292a2d !important;
    --toolbar-field-focus-background-color: #202124 !important;

    --focus-outline-color: var(--mf-primary-color) !important;

    --in-content-primary-button-background-hover: var(--mf-primary-color-lighter) !important;

    /* popup */
    --arrowpanel-background: #373737 !important;

    /* popup_text */
    --arrowpanel-color: #fff !important;
    --autocomplete-popup-color: #fff !important;
    --panel-disabled-color: hsla(0, 0%, 100%, 0.5) !important;

    /* popup_border */
    --arrowpanel-border-color: transparent !important;
    --autocomplete-popup-border-color: #555 !important;

    /* urlbar popup */
    --lwt-brighttext-url-color: var(--mf-primary-color) !important;
  }

  @include moz-pref-media('materialFox.maximizedNoTopPadding') {
    &[sizemode='maximized'] {
      --mf-space-above-tabbar: 0px;
    }
  }
}

:is(#sidebar-box, #sidebar)[style*='--sidebar-background-color:rgb(56, 56, 61);'] {
  /* sidebar */
  --sidebar-background-color: #333639 !important;

  /* sidebar_text */
  --sidebar-text-color: #f1f3ee !important;
}

:is(.sidebar-panel, body)[style*='--lwt-sidebar-background-color:rgb(56, 56, 61);'] {
  /* sidebar */
  --lwt-sidebar-background-color: #333639 !important;

  /* sidebar_text */
  --lwt-sidebar-text-color: #f1f3ee !important;
}

@include moz-pref-media('materialFox.reduceTabOverflow') {
  #tabbrowser-tabs {
    --tab-min-width: 32px !important;
  }
}

/* Ubuntu */
@media (-moz-gtk-csd-available) {
  :root:not(:-moz-lwtheme):not([privatebrowsingmode='temporary']) {
    --toolbar-bgcolor: -moz-dialog !important;
    --toolbar-color: -moz-dialogtext !important;
  }
}

:root:-moz-lwtheme-darktext,
:root toolbar:not([brighttext]),
.tabbrowser-tab[visuallyselected] {
  --toolbarbutton-hover-background: var(
    --lwt-toolbarbutton-hover-background,
    hsla(0, 0%, 0%, 0.07)
  ) !important;
  --toolbarbutton-active-background: var(
    --lwt-toolbarbutton-active-background,
    hsla(0, 0%, 0%, 0.11)
  ) !important;
}

:root:-moz-lwtheme-brighttext,
:root toolbar[brighttext],
.tabbrowser-tab[visuallyselected]:-moz-lwtheme-brighttext {
  --toolbarbutton-hover-background: var(
    --lwt-toolbarbutton-hover-background,
    hsla(0, 0%, 100%, 0.1)
  ) !important;
  --toolbarbutton-active-background: var(
    --lwt-toolbarbutton-active-background,
    hsla(0, 0%, 100%, 0.17)
  ) !important;
}

@-moz-document url("chrome://browser/content/places/bookmarkProperties.xhtml"), url("chrome://browser/content/places/bookmarkProperties2.xhtml")
{
  :root[dialogroot] {
    &,
    & dialog {
      --in-content-primary-button-background: var(--mf-primary-color) !important;
      --in-content-primary-button-text-color: var(--mf-primary-text-color) !important;

      --in-content-primary-button-background-hover: var(--mf-primary-color-lighter) !important;
      --in-content-primary-button-text-color-hover: var(--mf-primary-text-color) !important;

      --in-content-primary-button-background-active: var(--mf-primary-color-very-light) !important;
      --in-content-primary-button-text-color-active: var(--mf-primary-text-color) !important;
    }
  }
}
