.checkbox-check[checked] {
  --checkbox-checked-bgcolor: var(--primary-color);
  fill: var(--primary-text-color) !important;
}

.autocomplete-richlistitem[selected] {
  background-color: var(--primary-color) !important;
  color: var(--primary-text-color) !important;
}
