#navigator-toolbox toolbarbutton.bookmark-item:not(.subviewbutton) {
  padding: 6px !important;
}

#PersonalToolbar .toolbarbutton-1 {
  // overwrite default 4px
  --toolbarbutton-inner-padding: 6px !important;
}

#PlacesToolbar {
  margin-block-end: 4px; // Creates equal space above and below bookmark items

  #PlacesToolbarItems {
    gap: 2px;

    toolbarbutton.bookmark-item:not(.subviewbutton) {
      border-radius: var(--mf-bookmark-item-border-radius) !important;
    }
  }
}

#PlacesChevron > .toolbarbutton-icon {
  width: calc(2 * var(--toolbarbutton-inner-padding) + 16px) !important;
  height: calc(2 * var(--toolbarbutton-inner-padding) + 16px) !important;
}

.bookmark-item {
  &[container],
  &[hostContainer] {
    --bookmark-item-icon: url(../icons/folder.svg);

    @media (prefers-color-scheme: dark) {
      --bookmark-item-icon: url(../icons/folder-dark.svg);
    }
  }
}
