/* a stylesheet for custom user rules. this way you can customize the theme,
and when you update you can preserve your modifications by just updating everything except this file. */

/* add a dummy rule so this will be loaded by the style editor on any page. */
:root {
  // --uc-dummy-custom-property: initial;
}

@-moz-document url-prefix("chrome://devtools/content/")
{
  :root.theme-dark {
    --mf-devtools-red: #e06c75;
    --mf-devtools-orange: #d19a66;
    --mf-devtools-green: #98c379;
    --mf-devtools-grey: #abb2bf;
    --mf-devtools-purple: #c678dd;

    --object-color: var(--mf-devtools-red) !important;
    --string-color: var(--mf-devtools-orange) !important;

    @layer markup-base {
      .tag {
        --theme-highlight-blue: var(--mf-devtools-red);
      }
      .attr-name {
        --theme-highlight-red: var(--mf-devtools-orange);
      }
      .attr-value {
        --theme-highlight-purple: var(--mf-devtools-green);
      }
    }

    .ruleview-propertyname,
    .inspector-variable {
      --theme-highlight-blue: var(--mf-devtools-grey);
    }

    .ruleview-propertyvalue {
      --theme-highlight-red: var(--mf-devtools-orange);
    }

    .ruleview-propertyvaluecontainer a {
      --theme-highlight-purple: var(--mf-devtools-red);
    }

    .ruleview-rule-ancestor-selectorcontainer,
    .ruleview-ancestor-ruleopen,
    .ruleview-ancestor-ruleclose {
      color: var(--mf-devtools-purple);
    }

    .ruleview-selector,
    .ruleview-ruleopen,
    .ruleview-ruleclose {
      color: var(--mf-devtools-orange);
    }
  }
}
